html, body {
  font-family: 'Titillium Web', sans-serif;
  color: #616161;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h1, h6 {
  margin: 0;
}

.main {
    position: table;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
  }

  .background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: url(../images/background_3.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
    opacity: 0.2;
  }

  .info {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
  }

  .link{
    color: #2E7D32;
    font-weight: 600;
  }

  .link:hover{
    text-decoration: none;
    color: #FF9800;
    font-weight: 100;
  }

  .icons{
    width:25px;
    height: auto;
  }
