body{
  font-family: "Roboto", "arial", sans-serif;
  position: relative;
  min-width: 565px;
  max-height: 100%;
}

.ribbon {
  width: 100%;
  height: 40vh;
  flex-shrink: 0;
}

.main {
  margin-top: -35vh;
  flex-shrink: 0;
}

.header .mdl-layout__header-row {
  padding-left: 40px;
  min-width: min-content;

}

.top_bgd{
  background-image: url("images/background_4.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

#title_url{
  text-decoration: none;
  color: #FF8F00;
}


.container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

#welcome{
  text-align: center;
  color: #FF8F00;
}

.space{
  width: calc(29% - 16px);
}

.content {
  border-radius: 2px;
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 0;
  margin-top: 150px;
  margin-bottom: 40px;
  text-align: justify;
  width: calc(42% - 16px);
  min-width:50vh;
  position: relative;
}

.layout.is-small-screen .content {

}

.content h3 {
  margin-top: 48px;
}

.text{
    font-size: 130%;
}

.footer {
  color: #757575;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 20px;
  text-align: center;
}

#footer_link{
  color: #757575;
  text-decoration: none;
}

#pouchonLOL{
  width:250px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#pouchonLOL:hover{
  width:253px;
  height: auto;
  margin-top: -3px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.3);
}

#inside{
  position: relative;
  top: -125px;
}

.icons{
  width:50px;
  height: auto;
}

#links{
  position:relative;
  min-width: 212px;
  width: 0%;
  margin:  auto;
  margin:  auto;
  margin-top: 0;
  top: 50px;
}

.find_me{
  text-align: center;
}
